/node_modules
/public/hot
/public/img/productos/*.png
/public/img/productos/*.jpg
/public/img/avatars/*.png
/public/img/avatars/*.jpg
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
