/* Nota importante, el header SIEMPRE tiene que tener un height decalrado en su respectivo css para que lo que tenga  abajo no se ponega por debajo de la navbar que tiene position fixed. En este caso uso 50vh para darle espacio a mostrar la imagen de fondo */

/* Header */

header {
  position: relative;
  height: 50vh;
  /* background-image: url("../img/background-hero-small.jpg"); */
  background-image: url("https://images.unsplash.com/photo-1556656793-08538906a9f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Boton del haeder para acceder al catalogo */

.__button {
  width: 2em;
}

.button_catalogo {
  display: block !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* Styles */
  background: transparent;
  color: rgb(0, 0, 0);
  font-family: "Alata", sans-serif;
  background: rgba(241, 241, 241, 0.65);
  padding: 1em;
  border-radius: 10px;
  border: 2px solid rgb(61, 61, 61);
  text-transform: uppercase;
  transition: all 0.2s;
  outline: none;
}

.button_catalogo:hover {
  color: currentColor;
  background: rgba(248, 248, 248, 0.801);
}

.button_catalogo:active {
  outline: none;
  transform: translate(-50%, -40%);
  user-select: none;
  touch-action: manipulation;
}
.button_catalogo:focus {
  outline: none;
}

/* Main */
main {
  padding: 1em;
}

/* Burbujas del home */

.company-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 1em;
}

.company-info h3 {
  text-align: center;
  padding: 0.5em;
}

.company-info-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* height: 405px; */
  padding: 15px;
  background: var(--cards-background);
  border-radius: var(--card-border-radius);
  box-shadow: var(--cards-box-shadow);
  color: var(--violeta-claro);
}

.bubble-item {
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  background: var(--link-details);
  color: whitesmoke;
  text-align: center;
  border-radius: 50%;
}

.bubble-icon {
  font-size: 50px;
  margin: auto;
}
.bubble-text {
  width: 70%;
  line-height: 1.4;
}

/* ------Catalogo card ---------*/

.card__catalogo {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--card-border-radius);
  box-shadow: var(--cards-box-shadow);
  overflow: hidden;
}

.card__catalogo img {
  width: 100%;
}

.card__title {
  background: #0000009c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: whitesmoke;
  text-align: center;
}

.card__catalogo .btn {
  color: whitesmoke;
  background: var(--navbar);
  border: none;
  border-radius: 0;
}

.card__title h2,
.card__title p,
.card__catalogo .btn {
  font-family: "Palanquin Dark", sans-serif;
}

/* -----QUERIES----- */

@media screen and (min-width: 768px) {
  .company-info h3 {
    grid-column: 1/-1;
  }

  .button_catalogo {
    padding: 2em;
  }

  .company-info {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1366px) {
  .company-info h3 {
    padding: 1em;
  }

  .company-info-item {
    height: 400px;
  }
}
