header {
  background-image: none;
  /* border: 1px solid red; */
  height: 65px;
}

.navigation-general {
  background-color: grey;
  height: 80px;
}

a {
  text-decoration: none;
}

.important-text {
  text-align: center;
}

#form-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 55vh;
  /* background-color: blueviolet; */
}

nav {
  z-index: 100;
  background: var(--navbar);
}

#form-container form {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#already-count {
  float: right;
}

#create-count,
#already-count,
#login,
#forgot {
  margin: 10px 0;
}

.log-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 420px) {
  #form-container{
    min-height: 55vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #form-container {
    width: 50%;
    margin: auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #form-container {
    height: 80vh;
    width: 40%;
    margin: auto;
  }
}

@media (min-width: 1366px) {
  #form-container {
    width: 30%;
    margin: auto;
  }
}
